VITE_APP_URL=http://localhost:3000
FOTOPRESS_DEPLOYMENT=development
VITE_FOTOPRESS_DEPLOYMENT=development
SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_TURNSTILE_SITE_KEY=
KIWIFY_WEBHOOK_ENABLED=false
